md-card
	md-subheader Abogados
	md-card-content(layout="row")
		md-autocomplete(
		flex
		md-selected-item="ctrl.selectedAbogado" 
		md-search-text-change="ctrl.BuscarAbogadoChange(ctrl.searchTextAbogado)" 
		md-search-text="ctrl.searchTextAbogado" 
		md-selected-item-change="ctrl.AbogadoSeleccionadoChange(item)" 
		md-items="item in abogados" 
		md-item-text="item.nombre" 
		md-min-length="0" 
		placeholder="Nombre del Abogado" 
		md-menu-class="autocomplete-custom-template")
			md-item-template
				span {{item.nombre}}
		md-button.md-raised(md-colors="{background: 'green'}" ng-click="nuevo()")
			md-icon add
	md-divider
	md-list
		md-list-item(ng-repeat="abogado in abogados")
			.md-list-item-text
				strong {{abogado.nombre}}
			md-fab-toolbar(md-open="false" count="0"  md-direction="left" flex)
				md-fab-trigger
					md-button
						md-icon more_vert
				md-toolbar
					md-fab-actions(layout="row")
						md-button(md-colors="{background: 'green'}" ui-sref="abogado({id:abogado.id})")
							md-icon edit
						md-button(md-colors="{background: 'red'}" ng-click="eliminarAbogado(abogado,$index)")
							md-icon clear
			md-divider
